// ### Primary
$nutmeg: hsl(14, 45%, 36%);
$dark-raspberry: hsl(332, 51%, 32%);

// ### Neutral

$white: hsl(0, 0%, 100%);
$rose-White: hsl(330, 100%, 98%);
$eggshell: hsl(30, 54%, 90%);
$light-grey: hsl(30, 18%, 87%);
$nenge-brown: hsl(30, 10%, 34%);
$dark-charcoal: hsl(24, 5%, 18%);

// ### Body Copy

$font-paragraph: 1em;

// - Family: [Young Serif](https://fonts.google.com/specimen/Young+Serif)
// - Weights: 400

// - Family: [Outfit](https://fonts.google.com/specimen/Outfit)
// - Weights: 400, 600, 700
