@use "../abstract/variables" as color_bg;
@use "../abstract/minxins" as layout;
@font-face {
  font-family: "Outfit wght";
  src: url(../assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Outfit sm";
  src: url(../assets/fonts/outfit/static/Outfit-SemiBold.ttf);
}

@font-face {
  // Titulos
  font-family: "Young-serif";
  src: url(../assets/fonts/young-serif/YoungSerif-Regular.ttf);
}
body {
  min-height: 100dvh;
  font-size: color_bg.$body;
  font-family: "Outfit wght";
  @include layout.center();
  background-color: mix(color_bg.$eggshell, color_bg.$light-grey, 85%);
  hyphens: manual;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: color_bg.$lg;
  color: color_bg.$dark-charcoal;
  margin-bottom: 1rem;
}

td {
  color: color_bg.$nutmeg;
}

h1,
h2 {
  font-family: "Young-serif";
  font-weight: 400;
}

h2 {
  color: color_bg.$nutmeg;
  font-size: color_bg.$rg;
  margin-bottom: 1rem;
}

p {
  line-height: 1.45em;
}

p,
span,
li {
  color: color_bg.$nenge-brown;
}

b,
td,
.preparation__title {
  font-family: "Outfit sm";
}

.preparation__title {
  color: color_bg.$dark-raspberry;
  font-size: color_bg.$md;
}

.introduction__preparation {
  background-color: color_bg.$rose-white;
}
