@use "../abstract/variables" as color_bg;
@use "../abstract/minxins" as layout;
.container {
  margin-block: 7.5rem;
  @include layout.break-media(max-width, 480px) {
    margin-block: 0;
  }
  &__content {
    border-radius: 1.4rem;
    background-color: color_bg.$white;
    width: 46rem;
    padding: 2.5rem;
    @include layout.break-media(max-width, 480px) {
      border-radius: 0;
      width: 100%;
      padding: 0;
    }
    @include layout.flex($direction: column, $gap: 2rem);
  }

  &__image {
    border-radius: calc(1.4rem / 2);
    @include layout.break-media(max-width, 480px) {
      border-radius: 0;
    }
  }
}
